<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Example node server
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container container-top">
			<!-- Enter a description for your code here -->
			<p>
				A node app requires a server in a Javascript file, to, well, serve pages. The following is a simple example, using express. Served pages are in the public/html directory, and assets are pulled from the public directory.
			</p>
		</div>
		<% include ../../partials/snippetWrapper %>
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
					var express = require('express');
					var app = express();
					app.use(express.static('public'));
					var htmlPath = "/public/html/";

					app.get('/', function (req, res) {
				   		res.sendFile( __dirname + htmlPath + "index.html");
					})

					var server = app.listen(8085, function () {

				  		var host = server.address().address
				  		var port = server.address().port

				  		console.log("Site is running at http://%s:%s", host, port)

					})
				</code>
			</pre>
		</div>
	</div>
</body>
</html>