<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Installing yum on Linux
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container container-top">
			<!-- Enter a description for your code here -->
			<p>
				DON'T. Yum causes lots of broken package installations. From what I understand, this is due to depreacted Python dependencies. <br><br>But if you must, here is how. It's still a functional package manager.
			</p>
		</div>
		<div class="col-lg-10 container">
			<pre class="prettyprint linenums">
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
				    sudo wget http://yum.baseurl.org/download/3.4/yum-3.4.3.tar.gz
				    sudo tar xvzf yum-3.4.3.tar.gz
				    sudo apt-get install make
				    sudo make install
				</code>
			</pre>
		</div>
	</div>
</body>
</html>