<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Installing git with Linux
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container container-top">
			<!-- Enter a description for your code here -->
			<p>
				Use the following command to install git on Linux. You'll usually want to do this soon after starting up a Linux instance.
			</p>
		</div>
		<div class="col-lg-10 container">
			<pre class="prettyprint linenums">
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
					sudo apt-get install git-all
				</code>
			</pre>
		</div>
	</div>
</body>
</html>