<!DOCTYPE html>
<html>
<head>
	<% include partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<title>
		AWS
	</title>
</head>
<body>
	<% include partials/navbar %>
	<div class="container col-lg-8">
		<links>  <a href="http://localhost:8085/aws/linux-create-directory">
		Create a directory in Linux
	</a><a href="http://localhost:8085/aws/linux-install-git">
		Installing git with Linux
	</a><a href="http://localhost:8085/aws/linux-install-yum">
		Installing yum on Linux
	</a><a href="http://localhost:8085/aws/openssl-create-self-signed-cert">
		Create a self-signed cert with a passphrase in Linux
	</a></links>
	</div>
</body>
</html>