<!DOCTYPE html>
<html>
<head>
	<% include partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">
	<title>
		C# .NET
	</title>
</head>
<body>
	<% include partials/navbar %>
	<div class="container col-lg-8 container-top">
		<links>  <a href="http://localhost:8085/csharp/git-gitignore-example-simple">
		Simple .gitignore example
	</a><a href="http://localhost:8085/csharp/git-init">
		Start a git repo
	</a></links>
	</div>
</body>
<% include partials/mainfooter %>
</html>