<!DOCTYPE html>
<html>
<head>
	<% include partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Node JS
	</title>
</head>
<body>
	<% include partials/navbar %>
	<div class="container col-lg-8">
		<links>  <a href="http://localhost:8085/nodejs/git-gitignore-example-simple">
		Simple .gitignore example
	</a><a href="http://localhost:8085/nodejs/git-init">
		Start a git repo
	</a><a href="http://localhost:8085/nodejs/gulp-basic-pipe">
		Basic gulp piping
	</a><a href="http://localhost:8085/nodejs/gulp-group-tasks">
		Grouping tasks with gulp
	</a><a href="http://localhost:8085/nodejs/gulp-install">
		Installing gulp
	</a><a href="http://localhost:8085/nodejs/gulp-runtask">
		Running a task with gulp
	</a><a href="http://localhost:8085/nodejs/gulpTap-transform-file">
		Transform a file with gulp-tap
	</a><a href="http://localhost:8085/nodejs/https-ssl-enabled-webserver">
		Create an SSL-enabled web server with https
	</a><a href="http://localhost:8085/nodejs/jade-express-route-serving">
		Serving routes with parameters, with express and jade
	</a><a href="http://localhost:8085/nodejs/jade-express-routing">
		Express routing with Jade
	</a><a href="http://localhost:8085/nodejs/jade-partials">
		Partials with jade
	</a><a href="http://localhost:8085/nodejs/javascript-escape-html">
		Escape reserved characters in an html document
	</a><a href="http://localhost:8085/nodejs/javascript-get-substring-between">
		Get substring between two unique strings with Javascript
	</a><a href="http://localhost:8085/nodejs/javascript-replace-substring-between">
		Replace substring between two unique strings with Javascript
	</a><a href="http://localhost:8085/nodejs/node-npm-init">
		npm-init
	</a><a href="http://localhost:8085/nodejs/node-npm-install">
		Install packages with npm
	</a><a href="http://localhost:8085/nodejs/node-server-example">
		Example node server
	</a><a href="http://localhost:8085/nodejs/node-start-server">
		Start a node server
	</a><a href="http://localhost:8085/nodejs/node-stop-server">
		Stop a node server
	</a><a href="http://localhost:8085/nodejs/npm-init">
		npm-init
	</a></links>
	</div>
</body>
<% include partials/mainfooter %>
</html>