<!DOCTYPE html>
<html>
<head>
	<% include partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<title>
		Swift
	</title>
</head>
<body>
	<% include partials/navbar %>
	<div class="container col-lg-8">
		<links>  <a href="http://localhost:8085/swift/npm-init">
		npm-init
	</a></links>
	</div>
</body>
</html>