.scrolled {
	background-color: black;
}

.banner-image-container {
	width: 100%;
	height: 100%;
	background-color: black;
}

#banner-image {
	width: 100%;
}

.main-content {
	margin-top: 20px;
}

.main-text-bold {
	font-family: Cambria, Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 25px;
}

.main-text {
	font-family: Cambria, Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	line-height: 25px;
}

#img-lion {
	width: 80%;
	height: auto;
}