<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Simple .gitignore example
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container container-top">
			<!-- Enter a description for your code here -->
			<p>
				The following is a VERY SIMPLE example of a .gitignore. The '#' is the comment character in git; that line will be ignored. Listing the name of a directory, will make suree that a git add command does not add that directory or its contents.  <br><br>
				I use the following for my first commit in a node app. It ignores any installed node modules (which go in the node_modules dir, and are code-heavy and best installed directly on your web server with a node install command, if possible), and environment-specific variables (which I habitually place in a created environment dir).
			</p>
		</div>
		<% include ../../partials/snippetWrapper %>
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
					# modules

					node_modules

					# environment variables

					environment
				</code>
			</pre>
		</div>
	</div>
</body>
</html>