<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Grouping tasks with gulp
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container container-top">
			<!-- Enter a description for your code here -->
			<p>
				If you have multiple related tasks in a gulpfile.js, and want to run them with one command, group them in another tasks. The following task combines the 'buildhtml', 'buildstyles', and 'buildscripts' tasks into the 'build' task.
			</p>
		</div>
		<% include ../../partials/snippetWrapper %>
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
					gulp.task(&#39;build&#39;, [&#39;buildhtml&#39;, &#39;buildstyles&#39;, &#39;buildscripts&#39;]);
				</code>
			</pre>
		</div>
	</div>
</body>
</html>