<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		Escape reserved characters in an html document
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container container-top">
			<!-- Enter a description for your code here -->
			<p>
				I forget where I got this, but it's an elegant way to convert reserved HTML characters into their respective literals. Feed a string to the escapeHtml function.
			</p>
		</div>
		<% include ../../partials/snippetWrapper %>
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
					var escapeCharsMap = {
					  &quot;&amp;&quot;: &quot;&amp;amp;&quot;,
					  &quot;&lt;&quot;: &quot;&amp;lt;&quot;,
					  &quot;&gt;&quot;: &quot;&amp;gt;&quot;,
					  &#39;&quot;&#39;: &#39;&amp;quot;&#39;,
					  &quot;&#39;&quot;: &#39;&amp;#39;&#39;,
					  &quot;&#x2F;&quot;: &#39;&amp;#x2F;&#39;
					};

					function escapeHtml(string) {
					  return String(string).replace(&#x2F;[&amp;&lt;&gt;&quot;&#39;\&#x2F;]&#x2F;g, function (key) {
					    return escapeCharsMap[key];
					  });
					}
				</code>
			</pre>
		</div>
	</div>
</body>
</html>