<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/bootstraplinks %>
	<link rel="stylesheet" type="text/css" href="/styles/codeSnippets.css">
	<!-- Standard snippet title. This will show up as the anchor text to this snippet, so please customize -->
	<title>
		npm-init
	</title>
</head>
<body>
	<% include ../../partials/navbar %>
	<div class="container">
		<div class="col-md-10 container">
			<!-- Enter a description for your code here -->
			<p>
				To start a new node project (once npm and node are installed), enter 'npm init' into your Terminal. After you finish the wizard, a package.json file will be generated. This file will be referenced whenever you build your project. The following is an example of a package.json file.
			</p>
		</div>
		<div class="col-lg-6 container">
			<pre class="prettyprint linenums">
				<!-- Place your code here. The pre tag preserves whitespace, linebreaks, etc..., so make it pretty! -->
				<code>
					{
			  			&quot;name&quot;: &quot;personal_site&quot;,
			 			&quot;version&quot;: &quot;1.0.0&quot;,
			  			&quot;description&quot;: &quot;Personal site, built on a MEAN stack&quot;,
			  			&quot;main&quot;: &quot;index.js&quot;,
			  			&quot;scripts&quot;: {
			    			&quot;test&quot;: &quot;test&quot;
			  			},
			  			&quot;author&quot;: &quot;dylanthelion&quot;,
			  			&quot;license&quot;: &quot;ISC&quot;
					}
				</code>
			</pre>
		</div>
	</div>
</body>
</html>