<!-- Footer -->
	<footer>
		<div class="container">
		<div class="footer-wrapper">
			<a href="http://www.dylanthelion.com/" target="_blank">
				<img src="assets/BABYWU.jpg" class="logo">
			</a>
			<p>
				Site built and maintained by dylanthelion
				<span> | </span>
				Copyright © 2016 All rights reserved.
			</p> 
		</div>
	</div>
	</footer>