<nav class="navbar navbar-default navbar-main navbar-fixed-top"   id="navigation-container">
  		<div class="container-fluid">
    		<div class="navbar-header page-scroll" >
      			<a class="navbar-brand page-scroll" id="nav-title" href="/">Dylan the Lion</a>
    		</div>
    		<ul class="nav navbar-nav" id="navbar-items">
      			<li><a class="nav-link" href="/swift">Swift</a></li>
      			<li><a class="nav-link" href="/csharp">C# .NET</a></li>
      			<li><a class="nav-link" href="/aws">AWS</a></li>
      			<li><a class="nav-link" href="/nodejs">Node JS</a></li>
    		</ul>
  		</div>
	</nav>